@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

* {
  font-family: 'Saira', sans-serif;
}

.pokemon-details-container {
  position: absolute;
  top: 0;
  right: 0;
}

.pokemon-character-drop-down-container {
  position: absolute;
  right: 0;
}